body { font-family: 'Arial', sans-serif; font-size: 0.9em; margin:0; line-height:1.5em; background:#111; color:#09f; }

    #wrapper {
      width:1000px; margin:auto; margin-top:4em; 
    }
    #canvas {
      border:0px solid #09f;
      width:800px;
      height:400px;
      background: #111 url('assets/subtle_carbon.png');
      border-radius: 7px;
    }
    .left {
      float:left;
    }
    .right {
      float:right;
    }
    .clear {
      clear:both;
    }
    #gameWrapper {
      overflow: hidden;
    }